body 
{
    background:url(Images/bg.gif) repeat;
    height:100%;
    margin:0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.wrapper 
{
    margin:0 auto;
    width:1000px;
    background-color: #B0CBD7;    
}

.center
{
    width:550px;
    float:left;
    margin:5px;
    padding-left:10px;
}
.leftsidebar
{
    width:170px;
    float:left;
    margin:10px;
    padding:10px;
}

.rightsidebar
{
    width:170px;
    float:left;
    margin:10px;
    padding:10px;
}

.adminsection
{
    background-color:White;
    border-style:solid;
    border-width:2px;
    border-color:#5D7B9D;   
}
.adminsection table
{
    width:100%;
}
.admin
{
    margin:50px auto;
    background-color:White;
    width:400px;
    border-color:#5D7B9D;
    border-width:2px;
    border-style:solid;
    padding:10px;
}

.adminmenu
{
    height:20px;
}

.header
{
    margin-top:20px;
}

.footer
{
    padding-top:15px;
}